<!-- $Id$ -->

<!-- ###template### begin -->

<div id="tendyoutube_videolist">
    <ul class="gallery">

        <!-- ###video_list### begin -->
        <!-- ###video### begin -->
        <li class="video">
            <div class="video_ph">
                <a href="###video_url###" rel="prettyPhoto" title="###title###">
                    <img src="###image_url###" alt="###title###" width="###image_width###" height="###image_height###" />
                </a>
                <div class="description_short">###description_short###</div>
                <div class="description_long">###description###</div>
                <div class="category">###category###</div>
                <h2><a href="###video_url###">###title###</a></h2>
                 
            </div>
        </li>
        <!-- ###video### end -->
        <li>
            <!-- ###video_no### begin -->
            <b>No video in system...</b>
            <!-- ###video_no### end -->
        </li>
        <!-- ###video_list### end -->

    </ul>
</div>


<div id="tendyoutube_pager">
    ###pager###
</div>


<!-- ###template### end -->